*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(131, 222, 131);
}

#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#ptop{
    padding: 0px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    background-color: rgb(43, 89, 43);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    color: rgb(25, 68, 25);
    font-weight: 600;
    font-size: 20px;
}

#pbottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(32, 67, 32);
    border-radius: 50%;
    font-weight: 500px;
}

.bubble:hover{
    cursor: pointer;
    background-color : rgb(0, 0, 0);
}



